.homepart1{
    padding: 15px;
    background-color: black;
    color: #ffff;
}

.homeloc svg{
    color: red;
    font-size: 17px;
}
.homeloc{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: small;
    font-weight: 600;
    margin-top: 9px;
    justify-content: center;
   
}
.homeloc .homelocation{
    padding: 6px 32px;
    border-radius: 30px;
    background-color: black;
    color: #ffffff;
    font-weight: bold;
   
    font-size: 12px;
    border: solid 1px rgb(241, 228, 228) ;
}
.homeorders{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: small;
    font-weight: 600;
    margin-top: 9px;
    justify-content: space-between;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    width: 404px;
    padding: 1px 2px;
    border-radius: 100px;
}

.homeorders button{ 
    padding: 11px 35px;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3; 
    border-radius: 32px;
    color: black;
    font-weight: bold;
}
.active{
    color: white !important;
    background-color: red !important;
}
.browse-categories{
     height: 150px;
     display: flex;
     align-items: center;
}
.browse-categories h4   {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
   
}
.browse-categories div{
    height: 2px;
    background-color: #dabcbc;
    width: 71%;
    margin-left: 78px;
}

@media only screen and (max-width:600px){
    .homeloc .homelocation{
        padding: 4px 31px; 
        font-size: 11px;
    }
    
    .homeorders button{
        padding: 11px 26px;
    }
    .homeorders{
        width: 360px;
    }
    .browse-categories div{
        height: 2px;
        background-color: #dabcbc;
        width: 50%;
        margin-left: 20px;
    }

    .browse-categories h4   {
        font-size: 15px;
    }
    .browse-categories{
        height: 100px;
       
   }
}